<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="https://res.cloudinary.com/tta-tech/image/upload/c_thumb,w_200,g_face/v1602799631/LOGO_OF_COFB1_1_kmfsax.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Anniversary DP generator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="manifest" href="/assets/manifest.json">

</head>
<body>
<nav class="deep-purple darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TTA</a>
    </div>
</nav>
<div class="section no-pad-bot banner responsive-img" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center white-text ">Yahah DP Generator</h1>
        <div class="row center">
            <h5 class="header col s12 white-text">Customize your anniverary dp for publicity,
            upload your picture and download it straight away...</h5>
        </div>
        <div class="row center">
            <a href="#customize-mine" class="btn-large waves-effect waves-light deep-purple darken-3">
                Customize Mine</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

       <div class="row">
        <div class="col s12">
            <div class="card deep-purple darken-3" >
                <div class="card-content white-text"  id="customize-mine">
                    <span class="card-title">Kindly pick a piture you'd like to use</span>

                    <form action="/upload" method="post" enctype="multipart/form-data" >
                        <div class="file-field input-field">
                            <div class="btn  blue-grey lighten-5">
                                <span style="color: black">Select Picture</span>
                                <input type="file" id="file-upload" accept="image/*" name="image">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <br>
                        <input type="submit" class="center-btn btn btn-large blue-grey lighten-5" style="" value="upload">
                    </form>
                </div>
            </div>
        </div>
    </div>

    </div>
    <br><br>
</div>

<footer class="page-footer deep-purple darken-3">
    <div class="footer-copyright">
        <div class="container">
            copyright <a class="blue-grey-text lighten-5-text" href="">The Transformation Arena</a>
        </div>
    </div>
</footer>


<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script>
    if(Object.prototype.toString.call(window.operamini) === "[object OperaMini]"){
        alert('OH, sorry... This page doesn\'t support opera-mini, please get a better browser like chrome or ucweb');
        window.stop();
    }
    if('serviceWorker' in navigator) {
        try {
            navigator.serviceWorker.register('/sw.js');
            console.log('sw registered')
        } catch (error) {
            console.log('sw failed')
        }
    }

    window.addEventListener('online', function(e) {
        // Resync data with server
        console.log('you are online');
//        Page.hideOfflineWarning();
//        Arrivals.loadData();
    }, false);

    window.addEventListener('offline', function(e){
        // queue up events for server.
        console.log('you are offline');
//        Page.showOfflineWarning();
    }, false);

    // check if the user is connected.
    if(navigator.onLine) {
//        Arrivals.loadData();
    } else {
        // show offline message
//        Page.showOfflineWarning();
    }




</script>

</body>
</html>
