<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Anniversary DP generator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    <nav class="deep-purple darken-3" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yahah DP</a>
        </div>
    </nav>

    <main>

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card image-container">
                        <div class="card-image user-image">
                            {{{image}}}
                        </div>
                        <br>
                        <br>
                    </div>
                    <button class="btn waves-effect waves-light center-btn deep-purple darken-3" type="submit"
                        id="download-url">
                    </button>
                </div>
            </div>
        </div>


    </main>

    <footer class="page-footer deep-purple darken-3 sticky-action">
        <div class="footer-copyright">
            <div class="container">
                copyright <a class="blue-grey-text lighten-5-text" href="">The Transformation Arena</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/materialize.js"></script>
    <script src="/javascripts/init.js"></script>


    <script>

        if (Object.prototype.toString.call(window.operamini) === "[object OperaMini]") {
            alert('OH, sorry... This page doesn\'t support opera-mini, please get a better browser like chrome or ucweb');
            window.stop();
        }

        var downloadUrl = $('img').attr('src');

        $('#download-url').append('<a href=' + downloadUrl + ' class="btn deep-purple darken-3" download>Download</a>')


    </script>


</body>

</html>