/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
    font-family: 'Lato', serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.center-btn {
    margin: auto;
    display: block;
    color: black;
}

.image-container {
    background-image: url('../images/yadah_four_background.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 480px;
    background-size: contain;
    background-position-x: 336px;
    background-position-y: 60px;
}

.user-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute !important;
    right: 580px;
    top: 180px;
}

.user-image >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://res.cloudinary.com/tta-tech/image/upload/v1602795006/home/AOP_6040_zhftfg.jpg');
    position: relative;
}

main {
    flex: 1 0 auto;
}
